body{
    background-color: rgb(190, 175, 204);
}
nav li{
    display: inline-block;
    padding: 10px;
}
nav li a{
    text-decoration: none;
    color: rgb(27, 59, 59);
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}
header{
    background: #be1212;
    padding:20px o;
}
.content{
    width: 940px;
    margin:0 auto;
}
nav{
    float:right;
    margin-top:70px;
}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
}
.produtos .preco{
    font-size: 20px;
    font-weight: bold;
}
.produtos .dexc{
    font-size: 18px;
}