*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
body{
background: black;
color: white;
}
p,centralizar{
	text-align:	center;
}
em strong{
	color:#b10b8d;
}
h1,h2{ color: #2113e7;

}

#banner{
	width: 100%;
}
.items{
	font-style: italic;
	list-style: none;
	padding: 10px;;
}
#beneficios{
	width:50%;
}
ul{
		display: inline-block;
		width: 15%;
		margin-right:15%;
		vertical-align:top;
}

